<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1 {
      color: #2c3e50; /* Dark gray color for the title */
    }

    body {
      background-color: #ecf0f1; /* Light gray background color */
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .col-md-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 15px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }

    .card {
      border: 1px solid #bdc3c7; /* Light gray border color */
      border-radius: 8px;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;
    }

    .card:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      background-color: #3498db; /* Bright blue color on hover */
    }

    .card-img-top {
      width: 100%;
      height: auto;
    }

    .card-body {
      padding: 15px;
    }

    h5,
    p {
      margin: 0;
      color: #34495e; /* Dark blue-gray color for text */
    }

    .btn-primary {
      background-color: #3498db; /* Blue color for the button */
      color: #2ecc71; /* Light green text color for the button */
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
    }

    .btn-primary:hover {
      background-color: #2980b9; /* Darker blue color on hover */
    }
  </style>
  <title>Properties Listing</title>
</head>

<body>

  <div class="container mt-4 p-4">
    <h1 class="text-center">Properties Listing</h1>
    <div class="row mt-4">

      <% @properties.each_with_index do |property, index| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <%= image_tag property[:cloudinary_image_url], class: 'card-img-top img-fluid', alt: "Property #{index + 1} Image" %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= property[:name] %></h5>
              <%= link_to 'View Details', property_path(index + 1), class: 'btn btn-primary mt-2' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>
</html>
