<h1>Location Maison<h1>
<div class= container>
    <div class="img-container">
        <img src="https://img.freepik.com/premium-photo/exterior-luxury-house-with-swimming-pool-modern-villa-generative-aixa_174954-811.jpg">
    </div>
    <div class="img-container">
        <img src="https://w0.peakpx.com/wallpaper/709/376/HD-wallpaper-mansion-villa-thumbnail.jpg">
    </div>
    <div class="img-container">
        <img src="https://e0.pxfuel.com/wallpapers/837/406/desktop-wallpaper-luxury-house-luxury-villa.jpg">
    </div>
</div>
<%= link_to 'Properties', properties_path, class: 'property-button' %>
